# macOS
.DS_Store

# VIM
*.swp

# Pyc
*.pyc

# .vscode directory
.vscode

# .idea directory
.idea

# claude
.claude/

# pycharm
**/venv/
**/__pycache__/
**/*.pyc

**/*.db
**/*.db-shm
**/*.db-wal

plugins/system/clash/logs
plugins/system/clash/conf/cache.db

.idea/

custom

docs/ai/

test
