[core]
    editor = nvim
    filemode = true

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto

[alias]
    st = status
    co = checkout
    cb = checkout -b
    br = branch
    ba = branch -a
    ci = commit
    cm = commit -m
    a = add
    aa = add --all
    p = push
    pl = pull
    m = merge
    r = reset
    rh = reset --hard
    d = diff
    df = diff
    ds = diff --staged
    stashp = stash pop
    lg = log --oneline --graph --all
    lga = log --oneline --graph --all --decorate
    unstage = reset HEAD --
    last = log -1 HEAD
    visual = !gitk

[push]
    default = simple

[pull]
    rebase = true

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff

[branch]
    autosetupmerge = true

[status]
    showUntrackedFiles = all

[credential]
	helper = store
