[credential]
	helper = store
[core]
	editor = vim
[color]
	ui = auto
[core]
    excludesFile = ~/.gitignore
#[include]
#    path = ~/.gitprivate
[includeIf "gitdir:~/code/work/"]
    path = .gitwork
[includeIf "gitdir:~/code/github/"]
    path = .gitprivate