[user]
	name = Solo
	email = anqi.huang@outlook.com
	signingkey = B50E54000866AD314F5D52F84DEB8EB1C5F60CFE
[credential]
	helper = store
[core]
	editor = vim
[color]
	ui = auto
[core]
	excludesFile = ~/.gitignore