[credential]
	helper = store
[core]
	editor = vim
[color]
	ui = auto
[core]
    excludesFile = ~/.gitignore
[include]
    path = ~/.gitprivate
[includeIf "gitdir:$HOME/code/github/"]
    path = .gituser