[include]
    path =  ~/.gs_git/alias.git
    path =  ~/.gs_git/apply.git
    path =  ~/.gs_git/branch.git
    path =  ~/.gs_git/color.git
    path =  ~/.gs_git/core.git
    path =  ~/.gs_git/credentials.git
    path =  ~/.gs_git/diff.git
    path =  ~/.gs_git/push.git
    path =  ~/.gs_git/user.git
[includeIf "gitdir:~/code/work/"]
    path =  ~/.gs_git/work.git
[includeIf "gitdir:~/work/"]
    path =  ~/.gs_git/work.git
